*
!.config/
!.config/*
!.config/i3/**/*
!.config/nvim/**/*
!.config/polybar/**/*
!.config/ranger/**/*
!.config/rofi/**/*
!scripts/
!scripts/*
!.Xresources
!.zshrc
!.gitignore
!.ghci
!/local/share/fonts
